<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Laxmi's Blogs</h1></a>
        <p>Expressing My Thoughts</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        voluptates repellat delectus soluta qui totam recusandae aperiam
        obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
        officia consequuntur.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        voluptates repellat delectus soluta qui totam recusandae aperiam
        obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
        officia consequuntur.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        voluptates repellat delectus soluta qui totam recusandae aperiam
        obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
        officia consequuntur.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        voluptates repellat delectus soluta qui totam recusandae aperiam
        obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
        officia consequuntur.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        voluptates repellat delectus soluta qui totam recusandae aperiam
        obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
        officia consequuntur.
      </p>
    </div>
  </body>
</html>
