<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Laxmi's Blogs | <%= title %></title>
</head>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
      voluptates repellat delectus soluta qui totam recusandae aperiam
      obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
      officia consequuntur.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
      voluptates repellat delectus soluta qui totam recusandae aperiam
      obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
      officia consequuntur.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
      voluptates repellat delectus soluta qui totam recusandae aperiam
      obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
      officia consequuntur.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
      voluptates repellat delectus soluta qui totam recusandae aperiam
      obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
      officia consequuntur.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
      voluptates repellat delectus soluta qui totam recusandae aperiam
      obcaecati quos blanditiis impedit in id optio quibusdam hic, natus est
      officia consequuntur.
    </p>
  </div>
</body>

</html>